$background_color: #E5EEF3;
$header: #00A8FF;
$card: white;
$footer: #8DA5B1;
$maxw: #3f87a6;
$Bungee: 'Bungee',
cursive;
$Roboto: 'Roboto Slab',
serif;
@mixin flex_center {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex_start($align) {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    align-items: $align;
}

@mixin maxw ($width) {
    @media screen and (max-width: $width+'px') {
        @content;
    }
}

@mixin adaptive_items($start,$end) {
    max-width: calc(25% - 45px);
    min-width: calc(25% - 45px);
    &:last-child {
        margin-right: 20px;
    }
    @media screen and (min-width: $start+'px') and (max-width: $end+'px') {
        @content;
    }
    //letting blocks to be 3 in a row and one on the next row
    /*@media screen and (max-width: 1000px) {
        max-width: calc(33% - 45px);
        min-width: calc(33% - 45px);
    }*/
    @media screen and (max-width: 800px) {
        max-width: calc(50% - 45px);
        min-width: calc(50% - 45px);
        margin-left: 16px;
        &:last-child {
            margin-right: 0;
        }
    }
    @media screen and (max-width: 600px) {
        max-width: 100%;
        width: 100%;
        margin-right: 14px;
        &:last-child {
            margin-right: 14px;
        }
    }
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    order: 1;
    background-color: $header;
}

footer {
    order: 3;
    background-color: $footer;
}

header,
footer {
    height: 10vh;
    width: 100%;
    font-family: $Bungee;
    color: white;
    @include flex_center;
}

section {
    width: 100%;
    background: #E5EEF3;
    overflow-y: auto;
    order: 2;
}

.row-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    &__item {
        padding: 10px;
        margin: 20px 0 0 20px;
        @include adaptive_items(500,600){
            background-color: #f6b73c; 
        };
        @include maxw(400){
            font-family: $Bungee;
            color: white;
            background-color: $maxw;
        }
        background-color: $card;
        font-family: $Roboto;
        box-shadow: 0 5px 8px 4px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        @include flex_start(flex-start);
    }
    &:last-child {
        margin-bottom: 20px;
    }
}